# Project
target/
*.lock
*.bin

# Mac
.DS_Store

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# idea files
.idea
*.iml

# workspace
workspace/

# eclipse files
.settings/
.project/
.classpath/
.project
.classpath
bundles/org.draegerlab.insilico.jsbml.core/.classpath
bundles/org.draegerlab.insilico.jsbml.core/.project
bundles/org.draegerlab.insilico.launcher/.classpath
bundles/org.draegerlab.insilico.launcher/.project
bundles/org.draegerlab.insilico.launcher/bin/.gitignore
bundles/org.draegerlab.insilico.ui.components/.classpath
bundles/org.draegerlab.insilico.ui.components/.project
bundles/org.draegerlab.insilico.ui.themes.light/.classpath
bundles/org.draegerlab.insilico.ui.themes.light/.project
bundles/org.draegerlab.insilico.workbench/.classpath
bundles/org.draegerlab.insilico.workbench/.project
features/org.draegerlab.insilico.core/.project
features/org.draegerlab.insilico.jsbml/.project
features/org.draegerlab.insilico.kotlin/.project
features/org.draegerlab.insilico.ui.themes/.project
releng/org.draegerlab.insilico.product/.project
releng/org.draegerlab.insilico.target/.project
tests/org.draegerlab.insilico.launcher.test/.classpath
tests/org.draegerlab.insilico.launcher.test/.project


