<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="product" point="org.eclipse.core.runtime.products">
	<product name="Insilico Lab" application="org.eclipse.fx.ui.workbench.fx.main-thread-application" >
		<property name="appName" value="Insilico Lab" />
		
		<property name="applicationXMI" value="com.insilicolab.launcher/Application.e4xmi" />
		
		<property name="cssTheme" value="theme.default" />
		
	</product>
	
</extension>
<extension
      id="insilico"
      point="org.eclipse.core.runtime.products">
   <product
         application="org.eclipse.fx.ui.workbench.fx.main-thread-application"
         name="Insilico Lab">
      <property
            name="appName"
            value="Insilico Lab">
      </property>
   </product>
</extension>
</plugin>
