<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="insilicolab" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.target.feature.feature.group" version="3.0.0.201706050601"/>
<repository location="http://download.eclipse.org/efxclipse/runtime-released/3.0.0/site"/>
</location>
</locations>
</target>
