.root {
	-text-light-primary:   rgba(0, 0, 0, 0.87);
	-text-light-secondary: rgba(0, 0, 0, 0.54);
	-text-light-disabled:  rgba(0, 0, 0, 0.38);
	
	-text-dark-primary:   rgba(255, 255, 255, 1);
	-text-dark-secondary: rgba(255, 255, 255, 0.7);
	-text-dark-disabled:  rgba(255, 255, 255, 0.5);
	
	-text-primary:   -text-light-primary;
	-text-secondary: -text-light-secondary;
	-text-disabled:  -text-light-disabled;
	
	-background-lighter: #FFFFFF;
	-background-default: #FAFAFA;
	-background-darker:  #F5F5F5;
	-background-darkest: #E0E0E0;
	
	-border-color: rgba(0, 0, 0, 0.12);
	
	-icon-focused:  87%;
	-icon-active:   54%;
	-icon-inactive: 38%;
	
	 /* Swatch Colors - Blue*/
	-swatch-100: #BBDEFB;
	-swatch-200: #90CAF9;
	-swatch-300: #64BEF6;
	-swatch-400: #42A5F5;
	-swatch-500: #2196F3;
	
	
	-fx-base: -background-default;
	-fx-background: -background-default;
	-fx-control-inner-background: -background-default;
	-fx-control-inner-background-alt: -background-default;
	-fx-body-color: -background-default;
	-fx-text-inner-color: -background-default;
	
	/* Color of filled radio buttons, marked checkboxes, etc. */
	-fx-mark-color: -swatch-400;
	
	/* Background color of a cell (in list or tree view) when hovered. */
	-fx-cell-hover-color: -background-darker;
	
	-fx-selection-bar-non-focused: -background-default;
	
	-fx-dark-text-color: -text-dark-primary;
    -fx-mid-text-color: -text-dark-primary;
    -fx-light-text-color: -text-light-primary;
    -fx-body-color: -background-default;
    -fx-text-base-color: -text-primary;

    -fx-default-button: -background-default;
    -fx-hover-base: -swatch-400;
    -fx-pressed-base: -swatch-500;
    -fx-text-background-color: -text-secondary;
    -fx-box-border: -border-color;
    -fx-text-box-border: -border-color;
	-fx-outer-border:-border-color;
	-fx-inner-border: -border-color;
	-fx-inner-border-horizontal: -border-color;
	-fx-inner-border-bottomup: -border-color;
	
	
	-fx-body-color-bottomup: -background-default;
	-fx-body-color-to-right: -background-default;

	-fx-focus-color: -swatch-400;
	-fx-faint-focus-color: -swatch-200;

	-fx-accent: -swatch-400;
}
